*{
      box-sizing: 0;
      margin: 0;
}  

body {
  grid-template-rows: auto 1fr auto;
}

.container{
  min-height: 42.9vh;
}

.container-inicio{
      min-height: 69.2vh;
}

nav{
    position: sticky;
    top: 0;
    z-index: 1;
}

.Barra{
    background-color: rgb(150, 150, 150);
    overflow: hidden;
    justify-content: space-evenly;
}

.Barra a {
    font-family: "DM Sans";
    float: left;
    color: #141414;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
    font-size: 1.063rem;
}

.Barra a:hover {
    background-color: rgb(10, 10, 10);
    color: white;
}

.Barra a.Activo {
    background-color: #333;
    color: white;
}

.Barra a.Activo-Formación{
    background-color: rgb(16, 127, 218);
    color: white;
}

.Barra a.Activo-Conocimientos{
    background-color: rgb(218, 137, 16);
    color: white;
}

.Barra a.Activo-Hobbies{
    background-color: rgb(50, 150, 83);
    color: white;
}

.Barra a.Activo-Idiomas{
    background-color: rgb(170, 15, 15);
    color: white;
}

.Barra a.Activo-Voluntariado {
    background-color: rgb(238, 204, 13);
    color: white;
}

.Barra a.Activo-Portafolio {
    background-color: rgb(218, 110, 110);
    color: white;
}

.linea{
    background-color: rgb(150, 150, 150);
    height: 0.313rem;
    width: 100%;
    display: block;
}
@media (min-width:988px) {
  .container-inicio{
      align-items: center;
      justify-content: flex-start;
  }

  .container-inicio, .container-interno {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .container-interno {
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
  }

  .coty{
    align-self: flex-start;
    justify-self: flex-start;
  }

  .presentación-titulo{
    flex-grow: 1;
  }

  .presentación-texto{
    justify-self: flex-end;
    margin-left: 3rem;
    margin-right: 3rem;
    line-height: 1rem;
  }
}

footer {
  border-top: 5px solid black;
  font-family: "DM Sans";
  font-size:0.875rem;
  vertical-align: middle;
  background-color: lightgray;
  margin-top: auto;
  width: 100%;
}

.iconos {
    display: flex;
    align-items: center;
    font-style: normal;
}

@media (max-width:988px) {
  .container-inicio, .container-interno {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .container-inicio{
    align-items: center;
    justify-content: center;
}

  .container-interno {
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
  }

  .coty{
    align-self: flex-start;
    justify-self: flex-start;
  }

  .presentación-titulo{
    flex-grow: 1;
  }

  .presentación-texto{
    justify-self: center;
    margin-left: 3rem;
    margin-right: 3rem;
    line-height: 1rem;
  }
}