.Hobbies {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: #F194FF;
    overflow-y: unset;
}

.Hobbies h4 {
    padding: 1%;
    text-align: center;
    width: 90%;
    border-bottom: 3px solid;
    margin: 2% 0;
    font-size: 2rem;
}

.container-hobbie {
    width: 90%;
    display: flex;
    align-items: center;
}

.container-hobbie img {
    width: 10%;
    padding: 1rem;
}

.container-hobbie h5 {
    font-size: 1.5rem;
    padding: 2rem;
    width: 40%;
}

.container-hobbie ul{
    width: 50%;
}

.container-hobbie li {
    list-style: none;
    font-size: 1.2rem;
    padding-top: .5rem;
}

@media screen and (orientation:portrait) {
    
    .Hobbies h4 {
        font-size: 4vh;
        margin-top: 30%;
    }

    .container-hobbie {
        padding-bottom: 5%;
        flex-wrap: wrap;
    }

    .container-hobbie img{
        padding: 0;
        width: 20%;
    }

    .container-hobbie h5{
        font-size: 3vh;
    }

    .container-hobbie ul {
        width: 100%;
    }
}
