body {
    background: hsl(96, 20%, 10%);
    color: 	hsl(299, 96%, 44%);
    text-shadow: 0 0 5px hsl(299, 96%, 44%);
    font-family: 'Comodore Angled', monospace;
    font-size: 1rem;
}

@keyframes lines {
    0% {background-position: 0px 0px}
    50% {background-position: 0px 0px}
    51% {background-position: 0px 2px}
    100% {background-position: 0px 2px}
}

#asciiText {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

pre {
    animation: lines 0.06666666s linear infinite;
}

#instructions {
    font-family: 'Comodore Angled';
    padding-left: 5rem;
}

.link {
    color: #FF6BFF;
    text-decoration: none;
}

#output {
    font-family: 'Comodore Angled';
    padding-left: 5rem;
}

#glare {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: radial-gradient(hsl(97, 24%, 24%), hsl(96, 20%, 10%));
}

#interlaced {
    position: fixed;
    background: repeating-linear-gradient(transparent 0px 1px, hsl(154 0% 0%/.2) 3px 4px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    animation: lines 0.06666666s linear infinite;
}

@keyframes blink {
    0% {opacity: 0}
    30% {opacity: 1}
    70% {opacity: 1}
    100% {opacity: 0}
}
  
.blink {
    animation: blink 1s linear infinite;
} 

#prompt {
    padding-left: 3.5rem;
    padding-bottom: 1rem;
}