.sobre-mi {
    position: fixed; /* Cambiado a fixed para centrar verticalmente */
    width: 80vw;
    height: 85vh;
    background-color: #1E091E;
    z-index: 3; /* Cambiado a z-index 3 */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 45%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste de centrado */
    color: #DD7CF6;
    padding: 1%;
    padding-top: 0;
}

.sobre-mi .titulo {
    width: 100%;
    height: 5%;
}

.titulo h2 {
    width: 100%;
}

.titulos {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 99.8%;
    padding-top: 1%;
    height: 5%;
}

.titulos h3 {
    display: flex;
    align-items: center;
    background-color: #370B41;
    border-radius: 1rem 1rem 0 0;
    height: 4.5vh;
    width: 15%;
    padding: 0 0.5rem;
}

.titulos h3:hover {
    opacity: 0.7;
}

.titulos .Active {
    background-color: #B626C9;
    height: 4.5vh;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    border-radius: 1rem 1rem 0 0;
}

.container-about.General {
    display: flex;
}

.container-about {
    width: 99%;
    height: 90%;
    background-color: #210A24;
    border: 3px solid #B626C9;
    display: none;
    z-index: 3;
}

.General {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.container-about::-webkit-scrollbar {
    width: 8px;
}

.container-about::-webkit-scrollbar-track {
    background-color: #7b0085;
}

.container-about::-webkit-scrollbar-thumb {
    background-color: #b700bd;
}

.General img {
    border: solid 2px;
    padding: 1rem;
    width: 10vw;
    height: 10vw;
    margin: 0 1rem;
}

.General-texto {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    margin: 2rem 1rem;
    gap: 1rem;
}

.General-texto h4 {
    width: 100%; /* Ajusta el ancho del h4 para ocupar todo el espacio restante */
    background-color: #2B0D30;
    font-size: 2rem;
    text-align: center;
    border: 2px solid #EA85F9;
    box-shadow: 3px 3px #B93ECC;
    color: #F194FF;
    padding: 1rem;
}

.General-texto p {
    width: 100%; /* Ajusta el ancho del párrafo para ocupar todo el espacio restante */
    background-color: #2B0D30;
    font-size: 1.2rem;
    border: 2px solid #EA85F9;
    box-shadow: 3px 3px #B93ECC;
    padding: 1rem;
    color: #F194FF;
    text-align: justify;
}

/* Estilos para el botón de cerrar */
.cerrar-sobre-mi {
    background-color: red;
    font-family: 'Comodore Angled', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: none;
    width: 4vw;
    height: 4vw;
    font-size: 2.5vw;
    cursor: pointer;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.cerrar-sobre-mi:hover {
    background-color: darkred;
}

@media screen and (orientation: portrait) {
    .sobre-mi {
        width: 90vw;
        height: 80vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titulos {
        gap: 1rem;
        font-size: 1rem;
        overflow-x: auto;
        white-space: nowrap;
    }

    .titulos::-webkit-scrollbar{
        display: none;
    }

    .titulos h3 {
        width: fit-content;
    }

    .General img {
        display: none;
    }

    .General-texto {
        width: 80%;
    }

    .General-texto h4 {
        font-size: 4vh;
    }

    .General-texto p {
        font-size: 2.5vh;
    }

    .cerrar-sobre-mi {
        width: 6vw;
        height: 6vw;
        font-size: 3vw;
    }
}
